/*--------------------------------------------------------------
  # footer
  --------------------------------------------------------------*/
  #footer {
    background: #141611;
    padding: 0 0 15px 0;
    color: #fff;
    font-size: 14px;
}
  
#footer .footer-top {
    background: #1c1f18;
    padding: 30px 0 0 0;
}
  
  #footer .footer-top .footer-info {
    margin-bottom: 10px;
  }
  
  #footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 3px;
    color: #15b32d;
  }
  
  #footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #3c4133;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    background: #15b32d;
    color: #fff;
    text-decoration: none;
  }
  
  #footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
  }

  #footer .footer-top h4::before, #footer .footer-top h4::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
}
 #footer .footer-top h4::before {
    right: 0;
    background: #3c4133;
  }
  
  #footer .footer-top h4::after {
    background: #15b32d;
    width: 60px;
  }
  
  #footer .footer-top .footer-links {
    margin-bottom: 20px;
  }
  
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 5px 0 0 0;
    margin: 0;
  }
   
  #footer .footer-top .footer-links ul li {
    padding: 0 0 15px 0;
  }
  
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
  }
  
  #footer .footer-top .footer-links ul a:hover {
    color: #15b32d;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact p {
    line-height: 26px;
  }
 
  #footer .copyright {
    text-align: center;
    padding-top: 20px;
  }
  
 