  
  /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 95vh;
    background: url("../img/soil5.png") top center;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: #eee;
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #15b32d;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: #15b32d;
    text-decoration: none;
  }
  .btn-portal {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.5s;
    margin:3px;
    background-color:#15b32d;
    color: #ffffff;
  }
  
.btn-portal:hover {
    background: #22cf3c;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }

 /*-------------------------------
 our motivation
--------------------------------*/
#ourMotivation {
    background: url('../img/about-bg.jpg') center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 40px 0;
    position: relative;
  }
  
  #ourMotivation::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }
  
  #ourMotivation .container {
    position: relative;
    z-index: 10;
  }
  
  #ourMotivation .about-col {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  
  #ourMotivation .about-col .img {
    position: relative;
  }
  
  #ourMotivation .about-col .img img {
    border-radius: 4px 4px 0 0;
  }
  
  #ourMotivation .about-col .icon {
    width: 72px;
    height: 72px;
    padding-top: 8px;
    text-align: center;
    position: absolute;
    background-color: #15b32d;
    border-radius: 50%;
    text-align: center;
    border: 4px solid #fff;
    left: calc( 50% - 32px);
    bottom: -30px;
    transition: 0.3s;
  }
  
  #ourMotivation .about-col i {
    font-size: 32px;
    line-height: 1;
    color: #fff;
    transition: 0.3s;
  }
  
  #ourMotivation .about-col:hover .icon {
    background-color: #fff;
  }
  
  #ourMotivation .about-col:hover i {
    color: #18d26e;
  }
  
  #ourMotivation .about-col h2 {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin: 40px 0 12px 0;
    color: #000;
  }
  
  
  
  #ourMotivation .about-col h2:hover {
    color: #18d26e;
  }
  
  #ourMotivation .about-col p {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 0;
    padding: 0 20px 20px 20px;
  }
  #section-header h3 {
    font-size:40px;margin-top:0;margin-bottom:15px; 
  }
  

  /*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .about .container {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  }
  
  .about .video-box img {
    padding: 15px 0;
    padding-right:15px;
    widows: 100%;
    width:100%;
  }
  
  .about .about-title{
    padding-top: 20px;
    text-align: center;
    font-style: none;
    color: #666;
  }
  
  .about .about-content {
    padding-top: 15px;
  }
   
  .about .small_info{
    padding-bottom: 40px;
    padding-left: 0px;
  }
  
  .about .small_info .description {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .about .video-box {
    position: relative;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
 
  /************************************************
  Services section
  *************************************************/
.services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 0px 40px 0px;
  background: #fff;
  box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
  border-color: #15b32d;
  border-style: solid;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.services .icon-box:hover {
  transform: translateY(-5px);
}

.services .icon {
  position: absolute;
  left: 20px;
  top: calc(50% - 30px);
}

.iconns {
  font-size: 72px;
  line-height: 1;
  transition: 0.5s;
}

.services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #111;
  text-decoration: none;
}

.services .section-title h2 {
    text-align: center;
    padding-bottom: 30px;
  }

.services .title:hover {
  color: #15b32d;
}

.services .description {
  font-size: 16px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}


/* Call To Action Section
--------------------------------*/
#call-to-action {
    background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../img/soil3.png) fixed center center;
    background-size: cover;
    padding: 60px 0;
  }
  
  #call-to-action h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
  }
  
  #call-to-action p {
    color: #fff;
  }
  
  #call-to-action .cta-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid #15b32d;
    color: #fff;
  }
  
  #call-to-action .cta-btn:hover {
    background: #15b32d;
    border: 2px solid #15b32d;
  }

  
  /*--------------------------------------------------------------
# Product
--------------------------------------------------------------*/
.product {
  padding-bottom: 30px;
  padding-top: 30px;
}

.product .container {
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
  padding-bottom: 50px;
}

.product .img-box img {
  border-color: #15b32d;
  border-style: solid;
  border-radius: 2px;
  widows: 100%;
  width:100%;
  height:100%;
}

.product .product-title{
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-style: none;
  color: #666;

}
 
.product .small_info{
  padding-left: 15px;

}

.product .small_info .description {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
.product .small_info Button{
  margin-top:25px;
}
.product .img-box {
  position: relative;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
