#partners {
    padding: 0;
}
#partners .intro {
    text-align: center;
    padding-top: 20px;
}

#partners .partner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 120px;
}
  
#partners .partner-logo img {
    height: 80px;
    width: 80px;
    
}
  
#partners .partner-logo:hover img {
    transform: scale(1.5);
}
  
#partners img {
    transition: all 0.4s ease-in-out;
}
  