/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#product_hero {
  width: 100%;
  height: 55vh;
  background: url("../img/soil2.jpg") top center;
  background-size: cover;
  position: relative;
}

#product_hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#product_hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#product_hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#product_hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#product_hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #15b32d;
  color: #fff;
}

#product_hero .btn-get-started:hover {
  background: #15b32d;
}

@media (min-width: 1024px) {
  #product_hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #product_hero {
    height: 100vh;
  }
  #product_hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #product_hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

  
  /*--------------------------------------------------------------
# App section
--------------------------------------------------------------*/
.app {
  padding-bottom: 10px;
  padding-top: 30px;
}
.app .container {
  padding-bottom: 20px;
}
.app .image-box img {
  padding: 15px 0;
  padding-right:0px;
  widows: 100%;
  width:100%;
}

.app .app-title{
  padding-top: 20px;
  text-align: center;
  font-style: none;
  color: #666;
}

.app .app-content {
  padding-top: 15px;
}
 
.app .small_info{
  padding-bottom: 30px;
  padding-left: 0px;
}

.app .small_info .description {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.app .image-box {
  position: relative;
}
.app .image-box img{
  height: 90%;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/****
Product use
***/
#use{
  padding-bottom: 30px;
  padding-top: 30px;
  background: linear-gradient(rgba(0, 142, 99, 0.1), rgba(0, 0, 0, 0.1));
  background-size: cover;
}

#use .intros{
  text-align: center;
  padding-bottom: 20px;
}

#use img{
  width: 72px;
  height: 72px;
  padding-top: 8px;
  text-align: center;
  position: absolute;
  background-color: #fff;;
  border-radius: 50%;
  text-align: center;
  left: calc( 40% - 40px);
  bottom: 40px;
  transition: 0.3s;
}

#use .step-images{
  padding-top: 30px;
  padding-bottom: 30px;
}
#use .step-images-text{
  color: #000;
  font-size: 20px;
}